<app-api-data></app-api-data>
<a routerLink="userDetails">User Details</a>
<br />
<a routerLink="child">Child</a>
<router-outlet></router-outlet>
<br /><br />
<input type="text" name="" id="" #box />
<button (click)="addTodo(box.value)">Add</button>
<ul *ngFor="let item of list">
  <li>{{ item.name }} <button (click)="removeTask(item.id)">Remove</button></li>
</ul>
<br /><br />
<app-child [num]="data" [title]="title"></app-child>
<ul *ngFor="let user of userDetails">
  <app-user-details [users]="user"></app-user-details>
</ul>
<hr />
<br />
<app-child (updateDataValue)="updateData($event)"></app-child>
<h2>{{ dataItem }}</h2>
<app-user-details
  (anotherMethodEvent)="anotherMethod($event)"
></app-user-details>
<h2>{{ valueData }}</h2>
<br /><br />
<input type="text" [(ngModel)]="name" />
<h2>{{ name }}</h2>
<input type="text" name="" id="" [(ngModel)]="products" />
<p>{{ products }}</p>
